@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
  font-family: 'PilseungGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color-white: #ffffff;
  --text-color-gray: #767777;
  --bg-color-black: #000000;
  --bg-color-darkgray: #161616;
  --point-color-blue-1: #4058bf;
  --point-color-blue-2: #2b5fc2;
  --point-color-blue-3: #3b76a3;
  --point-color-blue-4: #7ca0d7;
  --point-color-blue-5: #59acb9;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
  font-size: 62.5%;
  color: var(--text-color-white);
}

body,
html {
  max-width: 43rem;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  background-color: var(--bg-color-black);
}

header > h1 {
  padding: 0rem 1rem;
  font-family: 'PilseungGothic';
  font-weight: 100;
  font-size: 2rem;
}

.calendar_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1.5fr;
  place-items: center;
  font-weight: 800;
  font-size: 1.8rem;
}

.calendar_day {
  color: var(--text-color-gray);
  font-weight: 400;
}

.calendar_task {
  display: grid;
  place-items: center;
}

.calendar_todo_wrapper {
  position: relative;
}

.calendar_todo_wrapper > img {
  width: 2rem;
  opacity: 0.5;
}

.calendar_todo_wrapper > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;

  font-weight: 700;
}

.calendar_date {
  margin-top: 0.3rem;
  padding: 0.3rem;
  font-weight: 700;
  border-radius: 5rem;
}

.selected_day > .calendar_date {
  background-color: var(--point-color-blue-1);
}

.todolist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;

  height: 70vh;
  padding: 3rem 2rem;
}

@media all and (min-width: 25rem) {
  .todolist {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .todo_category {
    flex-basis: calc(50% - 1rem);
  }
}

.todo_category > h3 {
  margin: 0;
  padding: 0.5rem 1rem;
  width: fit-content;

  font-size: 1.2rem;
  font-weight: 900;
  background-color: var(--bg-color-darkgray);
  border-radius: 5rem;
}

.todo_category > ul {
  margin-top: 2rem;
  padding-left: 0rem;
  list-style: none;
}

.addTodo_btn {
  background: inherit;
  border: none;
  font-size: 1.4rem;
}

.category_item {
  margin-bottom: 1rem;
}

.category_item > label {
  display: flex;
  gap: 0.5rem;

  margin: 0rem;
  word-break: break-all;
  font-size: 1.4rem;
}

.category_item > label > img {
  width: 1.8rem;
  height: 1.8rem;
  opacity: 0.5;
}

.category_item:checked > label > img {
  filter: invert(48%) sepia(90%) saturate(4465%) hue-rotate(218deg) brightness(98%) contrast(91%);
}

.today > h3 {
  color: var(--point-color-blue-2);
}

.todo > h3 {
  color: var(--point-color-blue-3);
}

.study > h3 {
  color: var(--point-color-blue-4);
}

.sopt > h3 {
  color: var(--point-color-blue-5);
}

.selected_list > img {
  filter: invert(48%) sepia(90%) saturate(4465%) hue-rotate(218deg) brightness(98%) contrast(91%);
}

.nav_wrapper {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  gap: 1rem;
  margin-bottom: 2rem;
}

.nav_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 6rem;
  padding-top: 1rem;

  background: transparent;
  border: none;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.4rem 0rem 0rem var(--bg-color-darkgray);
  text-decoration: none;

  cursor: pointer;
}

.nav_btn:hover,
.nav_btn:active {
  background-color: var(--bg-color-darkgray);
}

.nav_btn > img {
  opacity: 0.5;
}

.nav_btn > p {
  color: var(--text-color-gray);
  font-size: 1rem;
}

/* ----------------- 모달 ----------------- */

.modal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30rem;
  height: 15rem;

  border-radius: 2rem;
  background-color: var(--text-color-white);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.modal > input {
  padding-left: 1rem;
  width: 25rem;
  height: 3.2rem;

  border: none;
  border-radius: 1.5rem;
  outline: none;
  color: var(--bg-color-darkgray);
  background-color: rgb(233, 233, 233);
  font-size: 1.5rem;
}

.modal_add_btn {
  width: max-content;
  padding: 0.7rem 1.5rem;

  background: inherit;
  border: none;
  border-radius: 2rem;
  color: var(--bg-color-white);
  background-color: var(--bg-color-darkgray);
  font-size: 1.4rem;
}

.modal_add_btn:hover {
  background-color: var(--text-color-gray);
}
