* {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;

  font-size: 62.5%;
}

/* ----------------- Header ----------------- */

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  padding: 0rem 3rem;
  width: 100%;
  height: 4.5rem;
  background-color: #434344;

  z-index: 1;
}

.logo_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.6rem;
}

.logo_wrapper > img {
  width: 2rem;
  height: 2rem;

  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(352deg) brightness(136%) contrast(71%);
}

.logo_wrapper > h1 {
  margin: 0;

  color: white;
  font-size: 1.6rem;
  font-weight: 100;
}

/* ----------------- Hamburger ----------------- */

.hamburger_menu:hover .hamburger_wrapper {
  display: block;
}

.btn_hamburger {
  padding: 1.5rem 6rem 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.hamburger_wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;

  padding: 3rem;
  width: 22.55rem;
  height: 100vh;

  background-color: white;
}

.hamburger_wrapper > h2 {
  margin: 0;

  font-size: 2.4rem;
  font-weight: 500;
}

.hamburger_list {
  padding: 0rem;

  list-style: none;
}

.hamburger_item {
  margin-bottom: 1.5rem;

  font-size: 1.6rem;
  font-weight: 200;
}

.hamburger_item:hover {
  color: #306fdb;

  cursor: pointer;
}

/* ----------------- Category ----------------- */

.category_wrapper {
  display: flex;
  justify-content: center;

  height: 9rem;
  padding-top: 4.5rem;
}

.category_list {
  display: flex;
  justify-content: space-around;

  padding: 0rem;
  width: 80%;

  list-style: none;
}

.category_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.category_item > img {
  width: 2.25rem;
}

.category_item > p {
  margin: 0;

  font-weight: 400;
}

/* ----------------- Product ----------------- */

.product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 27rem;
  gap: 1.5rem;

  padding: 0rem 4.5rem;
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 1rem;
}

.product_name > h2 {
  margin: 0;

  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.product_card:nth-child(2n) {
  padding: 1.5rem;

  background-color: black;
}

.product_card:nth-child(2n) > .product_name > h2 {
  margin: 0;

  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}

.hashtag_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;

  width: 21rem;
}

.hashtag_list {
  display: flex;
  justify-content: center;

  overflow-x: hidden;
  white-space: nowrap;
  gap: 0.45rem;

  padding: 0rem;

  list-style: none;
}

.hashtag_item {
  padding: 0.3rem 0.75rem;
  background-color: #306fdb;

  color: white;
  font-weight: 100;
  font-size: 1.2rem;
  border-radius: 1.5rem;
}

.hashtag_add {
  padding: 0.3rem 0.75rem;

  color: #306fdb;
  background: white;
  border: 0.075rem solid #306fdb;
  border-radius: 1.5rem;
}

.hashtag_add:hover {
  color: white;
  background-color: #306fdb;
}

.product_img {
  padding-bottom: 3rem;
  max-width: 21rem;
  max-height: 60%;
}

.bookmark {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.ic_bookmark {
  float: right;

  width: 1.75rem;
}

.ic_bookmark:hover {
  filter: invert(51%) sepia(76%) saturate(5146%) hue-rotate(206deg) brightness(90%) contrast(90%);
  cursor: pointer;
}

.product_card:nth-child(2n) > .bookmark > .ic_bookmark {
  filter: invert(100%) sepia(70%) saturate(53%) hue-rotate(336deg) brightness(117%) contrast(100%);
}

.product_card:nth-child(2n) > .bookmark > .ic_bookmark:hover {
  filter: invert(51%) sepia(76%) saturate(5146%) hue-rotate(206deg) brightness(90%) contrast(90%);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .product {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .product {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .product {
    grid-template-columns: repeat(1, 1fr);
  }
}
