* {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}

/* ----------------- Header ----------------- */

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  padding: 0rem 2rem;
  width: 100%;
  height: 3rem;
  background-color: #434344;

  z-index: 1;
}

.logo_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.4rem;
}

.logo_wrapper > img {
  width: 1.3rem;
  height: 1.3rem;

  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(352deg) brightness(136%) contrast(71%);
}

.logo_wrapper > h1 {
  margin: 0;

  color: white;
  font-size: 1.4rem;
  font-weight: 100;
}

/* ----------------- Hamburger ----------------- */

.hamburger_menu:hover .hamburger_wrapper {
  display: block;
}

.btn_hamburger {
  padding: 1rem 4rem 1rem 1rem;
  width: 1rem;
  height: 1rem;
}

.hamburger_wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;

  padding: 2rem;
  width: 15rem;
  height: 100vh;

  background-color: white;
}

.hamburger_wrapper > h2 {
  margin: 0;

  font-size: 1.6rem;
  font-weight: 500;
}

.hamburger_list {
  padding: 0rem;

  list-style: none;
}

.hamburger_item {
  margin-bottom: 1rem;

  font-size: 1.4rem;
  font-weight: 200;
}

.hamburger_item:hover {
  color: #306fdb;

  cursor: pointer;
}

/* ----------------- Category ----------------- */

.category_wrapper {
  display: flex;
  justify-content: center;

  height: 6rem;
  padding-top: 3rem;
}

.category_list {
  display: flex;
  justify-content: space-around;

  padding: 0rem;
  width: 80%;

  list-style: none;
}

.category_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.category_item > img {
  width: 1.5rem;
}

.category_item > p {
  margin: 0;

  font-weight: 400;
}

/* ----------------- Product ----------------- */

.product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 18rem;
  gap: 1rem;

  padding: 0rem 3rem;
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 1rem;
}

.product_name > h2 {
  margin: 0;

  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.product_card:nth-child(2n) {
  padding: 1rem;

  background-color: black;
}

.product_card:nth-child(2n) > .product_name > h2 {
  margin: 0;

  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.hashtag_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  width: 14rem;
}

.hashtag_list {
  display: flex;
  justify-content: center;

  overflow-x: hidden;
  white-space: nowrap;
  gap: 0.3rem;

  margin-bottom: 1rem;
  padding: 0rem;

  list-style: none;
}

.hashtag_item {
  padding: 0.2rem 0.5rem;
  background-color: #306fdb;

  color: white;
  font-weight: 100;
  font-size: 0.8rem;
  border-radius: 1rem;
}

.hashtag_add {
  padding: 0.2rem 0.5rem;

  color: #306fdb;
  background: white;
  border: 0.05rem solid #306fdb;
  border-radius: 1rem;
}

.hashtag_add:hover {
  color: white;
  background-color: #306fdb;
}

.product_img {
  padding-bottom: 2rem;
  max-height: 60%;
}

.bookmark {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.ic_bookmark {
  float: right;

  width: 1.5rem;
}

.ic_bookmark:hover {
  filter: invert(51%) sepia(76%) saturate(5146%) hue-rotate(206deg) brightness(90%) contrast(90%);
  cursor: pointer;
}

.product_card:nth-child(2n) > .bookmark > .ic_bookmark {
  filter: invert(100%) sepia(70%) saturate(53%) hue-rotate(336deg) brightness(117%) contrast(100%);
}

.product_card:nth-child(2n) > .bookmark > .ic_bookmark:hover {
  filter: invert(51%) sepia(76%) saturate(5146%) hue-rotate(206deg) brightness(90%) contrast(90%);
  cursor: pointer;
}

@media screen and (max-width: 120rem) {
  .product {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 99.2rem) {
  .product {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 76.8rem) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 57.6rem) {
  .product {
    grid-template-columns: repeat(1, 1fr);
  }
}
