@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
  font-family: 'PilseungGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;

  font-family: 'Pretendard-Regular';
  font-size: 62.5%;
  color: white;
}

body,
html {
  max-width: 430px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;

  background-color: black;
}

header > h1 {
  padding: 0rem 1rem;

  font-family: 'PilseungGothic';
  font-weight: 100;
  font-size: 2rem;
}

.calendar_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1.5fr;
  place-items: center;

  font-weight: 800;
  font-size: 1.8rem;
}

.calendar_day {
  color: #767777;
  font-weight: 400;
}

.calendar_item {
  background: transparent;
  border: none;
}

.calendar_task {
  position: relative;
  gap: 1rem;
}

.calendar_icon {
  width: 2rem;

  opacity: 0.5;
}

.calendar_todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 700;
}

.calendar_date {
  margin-top: 0.3rem;
  padding: 0.3rem;

  font-weight: 700;
  border-radius: 5rem;
}

.selected_day > .calendar_date {
  background-color: #4058bf;
}

.todolist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;

  margin-top: 3rem;
  padding: 0rem 2rem;
  height: 60vh;
}

.category_title {
  padding: 1rem;

  font-size: 1.2rem;
  font-weight: 900;

  background-color: #161616;
  border-radius: 5rem;
}

.category_list {
  margin: 2rem 0rem 2.5rem 0rem;
  padding: 0rem;

  list-style: none;
}

.category_item {
  display: flex;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

.category_item > p {
  font-size: 1.4rem;
  margin: 0rem;
}

.todolist_icon {
  width: 1.8rem;
  height: 1.8rem;

  opacity: 0.5;
}

.today > .category_title {
  color: #2b5fc2;
}

.todo > .category_title {
  color: #3b76a3;
}

.study > .category_title {
  color: #7ca0d7;
}

.selected_list > .todolist_icon {
  filter: invert(48%) sepia(90%) saturate(4465%) hue-rotate(218deg) brightness(98%) contrast(91%);
}

.footer_wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer_btn {
  width: 6rem;
  padding-top: 1rem;
  background: transparent;
  border: none;
  border-radius: 1rem;

  box-shadow: 0.2rem 0.4rem 0rem 0rem #161616;
}

.btn_calendar:active {
  background-color: #161616;
}

.btn_my:active {
  background-color: #161616;
}

.footer_btn > img {
  opacity: 0.5;
}

.footer_btn > p {
  color: #767777;
  font-size: 1rem;
}

@media all and (max-width: 320px) {
  .todolist {
    flex-wrap: nowrap;
  }
  .todo_category {
    flex-basis: 45%;
  }
}
