@font-face {
  font-family: 'PilseungGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;

  font-family: 'PilseungGothic';
  font-size: 62.5%;
  color: white;
}

body,
html {
  max-width: 430px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;

  background-color: black;
}

header > h1 {
  font-weight: 100;
  font-size: 2rem;
}
